<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Control de Visitantes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Sistema de Control de Visitantes</h1>
        <div class="menu">
            <a href="./registro.html" class="button">Registrar Visita</a>
            <a href="./consultas.html" class="button">Consultar Visitas</a>
            <a href="./reportes.html" class="button">Generar Reportes</a>
        </div>
    </div>
</body>
</html>